/* Result.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #0f0f0fdd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgb(131, 83, 242);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(90, 164, 207, 0.2);
    padding: 20px;
    width: 400px;
    text-align: center;
  }
  
  form h4 {
    margin: 10px 0;
  }
  
  label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  .radio-group {
    margin: 20px 0;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 5px;
  }
  
  p {
    margin: 10px 0;
  }
  
  p.error {
    color: red;
  }
  
  p.success {
    color: green;
  }
  