.SkCounter

{ height: 200px;
    color: black;
    background-color: crimson;
    font-size: 40px;
}
   button:hover
   {
    border-style: ridge;
    border-color: yellow;
    border-width: 5px;
   }